.comment-wrapper {
    border: 1px solid rgba(238, 241, 246, 0.38);
    border-radius: 10px;
    margin-bottom: 10px;
    .comment-heading {
        padding: 10px;
        border-bottom: 1px solid rgba(238, 241, 246, 0.38);
        display: flex;
        justify-content: space-between;

        ul.comment-holder,
        .speech-controls {
            width: 48%;
        }

        .speech-controls {
            border-right: 1px solid rgba(238, 241, 246, 0.38);
        }

        ul.event-time-range {
            display: flex;
            align-items: center;
            justify-content: space-between;
            li {
                padding: 0 5px;
                &:last-child {
                    line-height: 3px;
                }
            }
        }

        ul.comment-holder {
            display: flex;
            justify-content: space-between;
        }
    }

    .comment-content {
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        textarea {
            width: 340px;
            height: 32px;

            font-family: 'Helvetica Neue';
            &,
            &:focus {
                background: none;
                border: none;
                color: #fff;
                outline: none;
            }
        }
    }

    button {
        background: #2f80ed;
        border-radius: 4px;
        color: #fff;
        border: none;
        padding: 8px 12px;
        &:disabled {
            opacity: 0.5;
            cursor: not-allowed;
        }

        &.clean {
            padding: 0;
            background: transparent;
        }

        &.assign-tag {
            color: #2f80ed;
            font-size: 14px;
        }

        &.close {
            border-radius: 100%;
            background: #3c404a;
            width: 24px;
            height: 24px;

            svg {
                vertical-align: middle;
            }
        }
    }
}

.badge-wrapper {
    ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    li {
        display: inline-block;
        margin: 0 5px;
    }
}

.event-actions {
    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    li {
        margin-right: 5px;
        &:last-child {
            margin-right: 0;
        }
    }
}
