.event-data {
    .event-comments {
        border-left: 1px dashed rgba(#55586a, 0.6);
        padding-left: 20px;
        margin-bottom: 10px;
        position: relative;
        height: 19vh;
        overflow-y: auto;

        .user-activity {
            margin-bottom: 20px;
            img {
                width: 32px;
                border-radius: 50%;
            }
            table {
                border-collapse: collapse;
                margin-bottom: 10px;
                td {
                    padding-bottom: 8px;
                }
            }
            strong {
                color: #fff;
            }
            p {
                margin: 0;
                padding: 0;
                line-height: 16px;
                color: #e0e0e0;
            }
            .date-wrapper {
                display: inline-block;
                margin-left: 8px;
                span {
                    display: inline-block;
                    padding-right: 10px;
                    color: rgba(#fff, 0.6);
                    font-size: 12px;
                }
            }
        }
    }
    .event-jump {
        margin-bottom: 20px;
        ul {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: rgba(#fff, 0.6);
        }
        li {
            display: inline-block;
        }
        button {
            padding: 8px 12px;
        }
    }
}
