.signals-wrapper {
    .annotation-wrapper {
        padding: 15px 12px;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid rgba(#f2f2f2, 0.04);

        .annotation-wrapper-left {
            justify-content: start;

            span,
            i {
                display: inline-block;
                width: 90%;
                text-align: center;
            }
            span {
                &.tag-wrapper {
                    padding: 8px 15px;
                    border-radius: 6px;
                }
            }
            i {
                width: 7px;
                height: 7px;
                border-radius: 50%;
            }
        }
        .annotation-wrapper-left,
        .annotation-wrapper-right {
            width: 45%;
        }
    }
}
