@import '../../../assets/sass/colors';
@import '../../../assets/sass/modal';

button, input, div{
    outline: none;
}

// Overwrite modal defaults
.upload-modal {
    border-radius: 4px;
    button{
        color: #fff;
        font-weight: normal;
        outline: none;
        cursor: pointer;
    }

    .upload-info {
        label{
            cursor: pointer;
            position: relative;
            padding-left: 25px;

            &:before, &:after {
                position: absolute;
            }

            &:before{
                content: "";
                top: 2px;
                left: 0px;
                width: 12px;
                height: 12px;
                border: 1px solid #fff;
            }

            &:after {
                font-size: 12px;
                text-align: center;
                content: "\2713";
                line-height: 11px;
                left: 2px;
                top: 4px;
                opacity: 0;
                transition: all .2s ease-in-out;
            }

        }

        input{
            &[type="checkbox"] {
                width: 0;
                height: 0;
                opacity: 0;
                position: absolute;

                &:checked + label:after {
                    opacity: 1;
                }
            }
        }
    }

    .modal-footer{
        li{
            display: inline-block;
            margin-right: 5px;
        }

        button{
            background: transparent;
            border: none;
            padding: 8px 16px;
            border-radius: 4px;
            color: #fff;
        }
        li{
            margin-right: 6px;

            &:last-child{
                margin-right: 0;
            }
        }

        button{
            text-transform: uppercase;
            &.upload{
                background: #2474F4;
                opacity: 1;
                &:disabled{
                    cursor: not-allowed;
                    opacity: 0.5;
                }
            }
        }
    }

    pre{
        margin-top: 30px;
        background: $main-color !important;
    }

    .drop-zone {
        border: 2px dashed #787C9D;
        padding: 16px;
        border-radius: 5px;
        p{
            cursor: pointer;
            margin: 0;
            text-align: center;
            span{
                color: #0073FD
            }
        }

        ul{
            &.existing-files{
                margin-top: 10px;
                li{
                    background: #55586C;
                    vertical-align: middle;
                    padding: 12px;
                    border-radius: 4px;
                    margin-bottom: 1px;
                    position: relative;
                    svg{
                        margin-right: 12px;
                    }
                    span{
                        white-space: nowrap;
                        display: inline-block;
                        max-width: 50px;
                        text-overflow: ellipsis;
                    }
                }
                i.remove-file{
                    width: 20px;
                    height: 20px;
                    cursor: pointer;
                    position: absolute;
                    right: 10px;
                    top: 10px;
                    font-style: normal;
                }
            }
        }
    }
}