// css order
// @variable
// content
// position, z-index, top, bottom, left, right, Flexbox properties, float, clear
// display, opacity, transform
// overflow, clip
// animation, transition
// margin, box-shadow, border, border-radius, box-sizing, width, height, padding
// background, cursor
// font-size, line-height, font-family, font-weight, font-style, text-align, text-transform, word-spacing, color
// :hover, :focus, :active, :before, :after, :first-child, :last-child

@import url('https://fonts.googleapis.com/css?family=Quicksand');

body {
  font-family: 'Quicksand', sans-serif;
}

@header-height: 32px;
@header-bg-color: #1f262d;

@content-bg-color: #eeeeee;

.cs {
  color: red;
}
