@import './less/colors.less';
@import './less/dropdown.less';

.mtv-skin{

    
    //SVG overridings
    .axis{
        .domain, line{
            stroke: #b6b9beff;
        }
        text{
            fill: #b6b9beff;
        }
    }

    .multi-line-chart-ctx {
        .line-highlight   {
            stroke: @yellow-color;
        }
    }

    .chart-focus-container{
        .line-group{
            .line{
                stroke: @blue-color !important;
            }
        }

        .chart-controls{
            position: absolute;
            right: 35px;
            bottom: 50px;

            li{
                display: inline-block;

                &:first-child{
                    margin-bottom: 7px;
                    text-align: right;
                    display: block;
                }
            }

            label{
                margin-bottom: 0;
            }

            input{
                &[type="checkbox"]{
                    opacity: 0;
                }
            }
            button, span{
                cursor: pointer;
                display: inline-block;
                width: 28px;
                height: 28px;
                border-radius: 4px;
                background: none;
                border: 1px solid #979797;
                color: #fff;
                text-align: center;
                line-height: 26px;
                outline: none;
            }
        }
    }

    .multi-line-chart-focus {
        .line-highlight {
            stroke: @yellow-color;
        }
    }

    path.feature-area{
        fill: none;
        stroke:#687ba3;
        stroke-width:1
    }

    .switch-control{
        label{
            cursor: pointer;
            color: #fff;
        }

        div{
            display: inline-block;
            margin-right: 25px;
            &:last-child{
                margin-right: 0;
            }

            input[type="checkbox"]{
                display: none;
            }

            input[type="checkbox"]:checked + .switch {
                background: @green-color;

                &:before{
                    -webkit-transform: translateX(30px);
                    -ms-transform: translateX(30px);
                    transform: translateX(30px);
                }
            }

            .switch {
                position: relative;
                padding-left: 50px;
                display: inline-block;
                width: 40px;
                height: 20px;
                background: #000;
                border-radius: 15px;
                margin-right: 13px;
                transition: all .4s ease-in-out;
                vertical-align: middle;

                &:before{
                    content: '';
                    position: absolute;
                    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
                    left:0;
                    top: 0;
                    width: 20px;
                    height: 20px;
                    border-radius: 100%;
                    background: #fff;
                    transition: all .4s ease-in-out;
                }
            }
        }
    }

    //input controls
    .linechart-controls{
        color: #fff;
        margin-bottom: 15px;
    }

    //dataset details within the chart
    .dataset-description{
        width: 400px;
        height: calc(100%);
        position: absolute;
        right: 0px;
        top: 0px;
        color: #fff;
        padding: 12px 12px 12px 15px;
        box-sizing: border-box;
        transform: translateX(100%);
        transition: all .2s ease-in-out;
        background: rgba(35,36,43,0.9);
        overflow-y: auto;

        .line{
            margin-bottom: 0px;
            &:last-child{
                margin-bottom: 0
            }

            &.data-control{
                ul{
                    margin: 0;
                    padding: 0;
                }
                li{
                    display: inline-block;
                    list-style-type: none;
                    margin: 0 16px 0 0 ;
                    padding: 0;
                }
                button{
                    &.btn-danger{
                        background: @red-color;
                    }
                    &.btn-primary {
                        background: @btn-blue;
                    }
                }
            }

            label {
                font-size: 16px;
            }

            label.btn{
                color: #000;
            }
        }
        &.active{
            transform: translateX(0%);
        }

        label, span{
            margin-bottom: 6px;
        }

        span{
            color: #B5B5B5;
            font-size: 16px;
        }

        textarea{
            width: 90%;
            height: 135px;
            border: 1px solid #979797;
            background: transparent;
            border-radius: 4px;
            color: #fff;
        }

        a{
            &.close{
                background: none;
                font-size: 18px;
                position: absolute;
                right: 5px;
                top: 5px;
                border:none;
                padding: 10px;
                color: #fff;
                opacity: 1;
                text-shadow: none;
                outline: none;
            }
        }
    }

    .target{
        circle{
            stroke: rgba(218, 227, 245, 0.3);
            fill: transparent;
        }

        line{
            stroke: rgba(218, 227, 245, 0.3);
        }
    }

    .multi-period-chart {
        width: 100% !important;
        .radial-text-md{
            fill: #8A9097;
            font-size: 13px;
        }

        .radial-cursor.svg-tooltip{
            fill: #CED8FB !important;
        }
    }

    .period-view{
        background: @main-color;
        padding-top: 35px;

        .nav-tabs-custom{
            .calendar-info{
                border-bottom: 1px solid #484E53;
                padding-bottom: 20px;
                margin-bottom: 20px;
                
                .item{
                    display: inline-block;
                    margin-right: 10px;
                    vertical-align: top;
                    line-height: 34px;
                    &:last-child{
                        margin-right: 0;
                        float: right;
                    }
                }
            }

            .nav-tabs {
                border-bottom: none;
                li {
                    margin-right: -2px;
                    border: none;
                    transition: all .2s ease-in-out;
                    float: right;
                    a{
                        border-radius: 0;
                    }

                    &:last-child {
                        &, a{
                            border-top-left-radius: 3px;
                            border-bottom-left-radius: 3px;
                        }
                    }
                    &:first-child{
                        &, a{
                            border-top-right-radius: 3px;
                            border-bottom-right-radius: 3px;
                        }
                    }
                    &.active{
                        border-top: none;
                        a{
                            color: #fff;
                            background-color: #2569D6;
                        }
                    }

                    > a{
                        color: rgba(255,255,255,0.5);
                        background-color: rgba(0,0,0,0.4);
                        border-width: 0;
                    }

                    &, a{
                        transition: all .2s ease-in-out;
                    }
                }
            }
        }

        .calendar-controls{
            color: #fff;
        }

        .period-view-label{
            color: #fff;
            font-size: 25px;
            margin: 0;
            padding: 0;
            font-weight: bold;
        }
    }

    .svg-tooltip{
        background: #676A82;
        // display: none;

        li{
            list-style-type: none;
            color: #fff;
            font-size: 13px;
        }

        &.svg-tooltip-visible{
            display: block;
        }
    }

    .tooltip-events{
        li {
            padding-bottom: 13px;

            &.events{
                text-transform: uppercase;
                font-weight: bold
            }

            span{
                display: block;
                letter-spacing: 1.2px;
            }
        }
    }

    .circle-arc {
        cursor: pointer;
        transition: all .2s ease-in-out;
        &.active{
            transform: scale(0.98);
            stroke-width: 3px;
        }
    }
}
