.mtv-skin{
    @main-color: #2c2f34;
    @second-color: #24242c;
    @yellow-color: #fdcd00;
    @green-color: #00e04a;
    @blue-color: #256fe6;

    .main-header {
        box-shadow: 0 0 14px #000;
        .navbar, .logo{
            background: @main-color;
        }
    }

    .main-sidebar{
        background-color: @main-color;
    }

    .sidebar-menu>li>.treeview-menu {
        background: @main-color;
    }

    .content-wrapper{
        background-color: @second-color;
    }

    .content{
        .nav-tabs-custom-mtv, .nav-tabs-custom-mtv>.tab-content {
            border: none;
            background: none;
        }


        .chart-ctx{
            height: 60px;
            .title{
                background: none;
                color: #fff;
                line-height: 60px;
            }

            .plot{
                height: 60px;
            }

            &.ctx-active{
                transition: all .2s ease-in-out;
                background: @second-color;
                box-shadow: 0 0 8px 5px #000 inset;
            }

            rect{
                stroke: none;
                &.handle{
                    fill: #b2bdd3ff;
                }
            }
        }
    }

    .box{
        background-color: @main-color;
        border: none;
        border-radius: 10px;
        overflow: hidden;

        &.timeseries-overview{
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            position: relative;

            &:after{
                content: "";
                position: absolute;
                width: 100%;
                height: 19%;
                bottom: 0;
                background-image: linear-gradient(to top, rgba(36,36,44, 0.9), rgba(36,36,44,0));
            }
            // background-image: linear-gradient(transparent, rgba(36,36,44, 1));
        }
        hr{
            border-top: 1px solid #000;
        }
    }

    //SVG overridings
    .axis{
        .domain, line{
            stroke: #b6b9beff;
        }
        text{
            fill: #b6b9beff;
        }
    }

    .multi-line-chart-ctx {
        .line-highlight   {
            stroke: @yellow-color;
        }
    }

    .chart-focus-container{
        .line-group{
            .line{
                stroke: @blue-color !important;
            }
        }
    }



    //input controls
    .linechart-controls{
        color: #fff;
        div{
            display: inline-block;
            margin-right: 10px;
            &:last-child{
                margin-right: 0;
            }

            input[type="checkbox"]{
                display: none;
            }

            input[type="checkbox"]:checked + .switch {
                background: @green-color;

                &:before{
                    -webkit-transform: translateX(35px);
                    -ms-transform: translateX(35px);
                    transform: translateX(35px);
                }
            }

            .switch {
                position: relative;
                padding-left: 50px;
                display: inline-block;
                width: 40px;
                height: 15px;
                background: #000;
                border-radius: 15px;
                transition: all .4s ease-in-out;

                &:before{
                    content: '';
                    position: absolute;
                    left:0;
                    top: 0;
                    width: 15px;
                    height: 15px;
                    border-radius: 100%;
                    background: #fff;
                    transition: all .4s ease-in-out;
                }
            }
        }
    }

}