include AUTHORS.md
include HISTORY.md
include README.md
include LICENSE

recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include apidocs *.md *.rst conf.py Makefile make.bat *.jpg *.png *.gif
