@import '../../../assets/sass/form.scss';

.chart-controls {
    color: #fff;
    display: inline-block;
    margin-top: 10px;
    margin: 0px 20px 20px 0;
    width: 100%;

    .tag-select {
        min-width: 160px;
    }
    .tag-wrapper{
        float: right
    }
}
.switch-control{
    float: left;
}

.tag-wrapper{
    float: right
}
