@import '../../../assets/sass/form.scss';

.chart-controls {
    color: #fff;
    display: inline-block;
    margin-top: 10px;
    margin: 0px 20px 20px 0;
    width: 100%;

    .tag-select {
        min-width: 160px;
    }
    .tag-wrapper{
        float: right
    }
}
.switch-control{
    float: left;
}

.tag-wrapper{
    float: right
}

.btn-add-event {
    background: #2474F4;
    border-radius: 16px;
    font-size: 14px;
    border: none;
    color: #fff;
    padding: 7px 12px;
    text-transform: uppercase;
    transition: all .2s ease-in-out;
    outline: none;
    cursor: pointer;
    span{
        display: inline-block;
        padding-right: 4px;
    }

    &:disabled{
        opacity: .38
    }
}
