.modal{
    &.aggregation-levels-modal{
        .close{
            color: #fff;
        }

        .modal-dialog{
            width: 1080px;
            max-width: 90%;
            transform: translate(0, 0) !important;
        }

        .modal-content {
            border-radius: 13px;
            border: 1px solid #60666C;
            .modal-body{
                overflow: hidden;
            }
            .aggregation-chart {
                background: #2C3034;
                border-bottom-left-radius: 12px;
                border-bottom-right-radius: 12px;;
            }
        }

        .aggregation-wrapper {
            margin-bottom: 30px;

            .headings{
                display: flex;
                margin-bottom: 35px;

                h4{
                    align-items: flex-start;
                    font-size: 16px;
                    margin: 0;
                    padding: 0;
                    flex: 1;
                }

                .note{
                    align-items: flex-end;
                    color: #A0A0A0
                }
            }

            .aggregation-controls{
                display: flex;
                justify-content: space-between;

                button{
                    height: 34px;
                    border-radius: 5px;
                    background: #2D3037;
                    border: 2px solid #2D3037;
                    color: #fff;
                    cursor: pointer;
                    transition: border-color .2s ease-in-out;

                    &.active {
                        border-color: #A2AAB2;
                    }
                    &:hover{
                        border-color: #A0AAB3;
                    }
                }
            }
        }

        .aggregation-axis{
            font-size: 10px;
            color: #8A9097;
            .tick{
                line{
                    stroke: #fff;
                }
            }
        }

        .event-details{
            background: #26282E;
            border-radius: 4px;

            padding: 20px 30px;
            box-sizing: border-box;

            ul{
                display: flex;
                justify-content: space-between;
            }
        }

        .aggregation-data {
            path{
                &.aggregation-wawes{
                    fill: transparent;
                    stroke: #2474f4;
                }
            }
            .aggregation-zoom{
                fill: transparent;
                cursor: move;
            }
        }
    }
}