.modal {
    &.aggregation-levels-modal {
        .close {
            color: #fff;
        }

        .modal-dialog {
            width: 1080px;
            max-width: 90%;
            transform: translate(0, 0) !important;
        }

        .modal-content {
            border-radius: 13px;
            border: 1px solid #60666c;
            .modal-body {
                overflow: hidden;
            }
            .aggregation-chart {
                background: #2c3034;
                border-bottom-left-radius: 12px;
                border-bottom-right-radius: 12px;
            }
        }

        .aggregation-axis {
            font-size: 10px;
            color: #8a9097;
            .tick {
                line {
                    stroke: #fff;
                }
            }
        }

        .event-details {
            background: #26282e;
            border-radius: 4px;

            padding: 20px 30px;
            box-sizing: border-box;

            ul {
                display: flex;
                justify-content: space-between;
            }
        }

        .aggregation-data {
            path {
                &.aggregation-wawes {
                    fill: transparent;
                    stroke: #2474f4;
                }
            }
            .aggregation-zoom {
                fill: transparent;
                cursor: move;
            }
        }
    }
}

.aggregation-chart {
    padding: 16px 0 0 0;
    position: relative;
    .aggregation-data {
        path {
            &.aggregation-event,
            &.aggregation-wawes {
                stroke-width: 2px;
                fill: transparent;
            }

            &.aggregation-wawes {
                stroke: rgba(#b2c1ff, 0.6);
            }
        }

        .event-highight {
            rect.event-area {
                fill: rgba(#5a627c, 0.4);
            }
        }
    }
    .aggregation-focus {
        .aggregation-zoom {
            fill: transparent;
            cursor: move;
        }
    }

    .aggregation-wrapper {
        margin: 0 16px;
        // margin-bottom: 30px;
        // margin: 16px;

        .aggregation-controls {
            display: flex;
            justify-content: space-between;

            button {
                background: #23242b;
                border-radius: 16px;
                // height: 34px;
                // border-radius: 5px;
                // background: #2d3037;
                // border: 2px solid #2d3037;
                color: #fff;
                cursor: pointer;
                border: none;
                padding: 8px 16px;

                &.active,
                &:hover {
                    color: #23242b;
                    background: #fff;
                }
            }
        }
        .context-info {
            span {
                display: inline-block;
                margin-right: 16px;
            }
            .tag-select {
                .tag-options__menu {
                    min-height: 30px;
                    font-size: 14px;
                }
                .tag-options__control {
                    min-height: 30px;
                }
                .tag-options__menu,
                .tag-options__control {
                    min-width: 65px;
                }
            }
        }
    }
}
