.no-event {
    height: 69vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(#fff, 0.4);
    text-align: center;
}
.event-details {
    padding-top: 20px;
    display: flex;
    flex-flow: column;
    height: 100%;
    .evt-row {
        padding: 0 16px;
    }

    p {
        margin: 0;
    }

    .evt-detail {
        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 30px;
            td {
                vertical-align: top;
            }
            tr {
                &.date-time {
                    p {
                        padding-right: 10px;
                    }
                    p,
                    .date-wrapper {
                        display: inline-block;
                    }
                }
            }

            p {
                color: #b5b5b5;
                margin-bottom: 10px;
            }

            button {
                &.evt-edit {
                    padding: 0;
                    color: #2f80ed;
                    font-size: 14px;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
            input {
                &[type='text'] {
                    width: 53px;
                    height: 32px;
                    border: 1px solid #979797;
                    border-radius: 4px;
                    background: transparent;
                    color: #fff;
                    padding: 0 3px;
                    text-align: center;
                }
            }
        }
        .date-wrapper {
            display: inline-block;

            span {
                display: inline-block;
                color: #fff;
                &.date {
                    margin-right: 5px;
                }
            }
        }
    }

    .evt-actions {
        background: #292c31;
        border: 1px solid rgba(238, 241, 246, 0.2);
        border-radius: 8px;
        margin: 0 15px 15px 15px;
        padding: 5px 10px 0 10px;
        flex: 1;
        display: flex;
        flex-flow: column;
        .evt-row {
            padding: 0 3px 0 16px;
        }
        .event-data {
            flex: 1;
            .event-comments {
                border: none;
                padding-left: 15px;
            }
        }
    }

    .evt-footer {
        display: flex;
        justify-content: space-between;
        background: #23242b;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        padding: 15px 20px;
        align-items: center;
        button {
            color: #fff;
            text-transform: uppercase;
            border: none;
            &.delete {
                color: #f64242;
            }

            &.save {
                background: #2f80ed;
                padding: 10px 16px;
                border-radius: 4px;
            }
        }
        li {
            display: inline-block;
            margin-right: 15px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
}
