.experiment {
    margin: 0 auto;
    position: relative;
    width: 98%;
    display: flex;
}

.left-sidebar {
    margin-top: 63px;
    position: relative; // <Loader /> component purposes
    height: 92vh;
}

@media screen and (max-width: 1200px) {
    .left-sidebar {
        width: 100%;
    }
}

@media screen and (min-width: 1201px) {
    .left-sidebar {
        width: calc(100% - 480px);
    }
}
