.google-login-wrapper {
  button{
    border: none !important;
    border-radius: 3px !important;
    box-shadow: 0 0 1px 0 rgba(0,0,0,0.12), 0 1px 1px 0 rgba(0,0,0,0.24);
    div{
      margin-right: 0 !important;
      border-radius: 5px;
    }
    span{
      background-color: #4285f4;
      color: #ffffff;
      padding: 13px 10px 13px 16px !important;
      color: #fff;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }
  }
}
