@import '../../../../assets/sass/colors.scss';
.events-wrapper {
    font-size: 16px;
    width: 400px;
    height: calc(100%);
    position: absolute;
    right: 0px;
    top: 0px;
    color: #fff;
    padding: 12px 12px 12px 15px;
    box-sizing: border-box;
    transform: translateX(100%);
    transition: all 0.2s ease-in-out;
    background: rgba(35, 36, 43, 0.9);
    overflow-y: auto;

    span{
        display: inline-block;
        color: #B5B5B5;
        margin: 0 5px;
    }

    &.active {
        transform: translateX(0)
    }

    .row{
        margin-bottom: 3px;
        li {
            display: inline-block;
            margin: 0 16px 0 0
        }

        &.select-holder{
            .tag-select {
                width: 175px;
            }
        }
    }

    button{
        display: inline-block;
        margin-bottom: 0;
        font-weight: normal;
        text-align: center;
        vertical-align: middle;
        touch-action: manipulation;
        cursor: pointer;
        background-image: none;
        border: 1px solid transparent;
        white-space: nowrap;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        border-radius: 4px;
        background: $blue-color;
        color: #fff;

        &.danger{
            background: $red-color;
        }

        &.close{
            background: none;
            font-size: 18px;
            position: absolute;
            right: 5px;
            top: 5px;
            border: none;
            padding: 10px;
            color: #fff;
            outline: none;
            cursor: pointer;
        }

        &.edit{
            padding: 1px 5px;
            font-size: 12px;
            border-radius: 3px;
        }
    }

    .form-group{
        label{
            display: block;
        }

        .comment-area{
            border: 1px solid #979797;
            padding: 7px;
            box-sizing: border-box;
            border-radius: 4px;
            font-size: 12px;
            margin-bottom: 20px;
            width: 100%;

            .comment-wrapper {
                border-bottom: 1px solid #979797;
                max-height: 65px;
                overflow-y: auto;
                padding: 5px;
            }

            .comment {
                padding: 5px;
                margin-bottom: 10px;
                padding-bottom: 10px;
                border-radius: 3px;
                transition: all .2s ease-in-out;
                &:hover{
                    background: rgba(216, 216, 216, 0.1);
                }
            }
            p{
                margin: 0;
                padding: 0;
            }

            textarea{
                width: 100%;
                height: 20px;
                border: none;
                color: #fff;
                background: transparent;
                font-size: 12px;
                padding: 5px;
                overflow: hidden;
                &:focus{
                    outline: none;
                }
            }
        }
    }
}
