.line-chart {
    .axis {
        font-size: 14px;
    }
    .line {
        fill: none;
        stroke: #637bb6;
        stroke-width: 1px;
        opacity: 0.7;
        shape-rendering: crispEdges;
    }

    .line-highlight {
        fill: none;
        stroke: #d1655d;
        stroke-width: 3px;
        // shape-rendering: crispEdges;
    }

    .bar-highlight {
        stroke: #b70e13;
        stroke-opacity: #b70e13;
        stroke-width: 0;
        fill-opacity: 0.7;
        shape-rendering: crispEdges;
        cursor: pointer;
    }

    .bg-highlight {
        stroke-width: 0;
        fill-opacity: 0.2;
        fill: #777;
        cursor: pointer;
    }

    .line-smooth {
        fill: none;
        stroke: #a8a3aa;
        stroke-width: 1px;
    }

    .zoom {
        cursor: move;
        fill: none;
        pointer-events: all;
    }
}


