.frame {
    shape-rendering: crispEdges;
}

.frame {
    fill: none;
    stroke: #aaa;
    stroke-opacity: 0.75;
}

.feature-cell {
    opacity: 0.9;
}

.feature-cell:hover {
    opacity: 1;
}

.feature-area {
    *fill: lightsteelblue;
    fill-opacity: 0.4;
    stroke-width: 1;
}

.feature-line {
    *stroke: lightsteelblue;
    stroke-opacity: 1;
    stroke-width: 1;
    fill-opacity: 0;
}

