@import '../../../assets/sass/colors.scss';
.focus-chart{
    background: $main-color;
    border-radius: 10px;
    .axis{
        font-size: 14px;
        .domain{
            stroke: $gray-text-color;
        }
        line, text{
            fill: $gray-text-color;
        }
    }

    .chart-data{
        path{
            fill: transparent;
            stroke-width: 1;
            stroke: $blue-color;
        }
    }

    .line-highlight{
        fill: transparent;
        stroke: $yellow-color;
    }
}