@import '../../assets/sass/colors.scss';
@import '../../assets/sass/animations.scss';

.page-landing {
    margin-top: 100px;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;

    .page-wrapper {
        left: 0;
        top: 0;
        width: 100%;
        height: calc(100vh - 110px);
    }

    .projects-wrapper {
        background: $second-color;
        z-index: 10;
        transition: transform 1s cubic-bezier(0.694, 0, 0.335, 1), -webkit-transform 1s cubic-bezier(0.694, 0, 0.335, 1);

        &:not(.active) {
            transform: translate3d(-100%, 0, 0);
        }

        &.active {
            animation-name: homepage;
            animation-duration: 1s;
        }
    }

    .projects-wrapper,
    .experiments-wrapper {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }

    .experiments-wrapper {
        opacity: 0;
        padding: 0 25px;
        &.active {
            opacity: 1;
        }
    }
}

@keyframes homepage {
    0% {
        transform: translate3d(100%, 0, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}

.item-row {
    margin: 0 50px;
    padding: 0 10px;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
    width: calc(100% - 100px);

    .item-wrapper {
        display: flex;
        padding: 0 0 10px 0;
        position: relative;
        height: 15vh;
        min-height: 180px;
        max-height: 240px;
    }

    .cell {
        background: $item-bg;
        border: 1px solid $item-bg;
        border-radius: 10px;
        flex: 0 0 360px;
        transition: all 0.2s ease-in-out;
        margin-right: 20px;
        padding: 20px;
        color: $title-color;
        font-size: 17px;
        cursor: pointer;
        animation: slide-up 1s ease;

        &:hover,
        &.active {
            border: 1px solid $active-border;
            background: $active-card-bg;
            color: #fff;
        }

        &:hover {
            transform: scale(1.05);
            z-index: 1;
        }

        h3 {
            font-size: 25px;
            margin: 0 0 10px 0;
        }

        .item-data {
            display: flex;
            ul {
                flex: 1;
                &.last {
                    flex: 2;
                    text-align: right;
                    align-content: flex-end;
                }
            }
        }
    }
}
