@import '../../../assets/sass/colors.scss';
.focus-chart {
    background: $main-color;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    margin-bottom: 30px;

    .chart-data path,
    .line-highlight,
    .zoom {
        fill: transparent;
    }

    .axis {
        font-size: 14px;
        .domain {
            stroke: $gray-text-color;
        }
        line,
        text {
            fill: $gray-text-color;
        }
    }

    .chart-data {
        path {
            stroke-width: 1;
            stroke: $path-color;
            &.evt-highlight {
                stroke: $yellow-color;
            }
            &.predictions {
                stroke: #b9782d;
                fill: none;
            }

            &.investigate {
                stroke: #ff9100;
            }

            &.do_not_investigate {
                stroke: #4684ff;
            }

            &.postpone {
                stroke: #8446c2;
            }
            &.problem {
                stroke: #c24d4d;
            }
            &.previously_seen {
                stroke: #f2ff00;
            }

            &.normal {
                stroke: #6bc969;
            }

            &.untagged {
                stroke: #d5d5d5;
            }
        }
    }

    .zoom {
        cursor: move;
    }

    .similar-shape,
    .event-comment {
        cursor: pointer;
        .evt-area {
            fill: rgba(#5a627c, 0.3);
            stroke-width: 0;
        }
    }

    .similar-shape {
        .evt-area {
            stroke-width: 1px;
            stroke: #fff;
            stroke-dasharray: 4;
        }
    }

    .zoomControlsHolder {
        position: absolute;
        bottom: 36px;
        right: 15px;
        li {
            display: inline-block;
            margin-right: 6px;
            margin-bottom: 6px;
            &:first-child {
                text-align: right;
                display: block;
                font-size: 18px;
            }

            label {
                line-height: 28px;
            }

            label,
            button {
                border: 1px solid #979797;
                border-radius: 4px;
                cursor: pointer;
                padding: 0;
                width: 30px;
                height: 30px;
                display: inline-block;
                text-align: center;
            }
        }
        input {
            &[type='checkbox'] {
                position: absolute;
                opacity: 0;
            }
        }
        button {
            background: transparent;
            border: none;
            color: #fff;
            text-align: center;
            outline: none;

            span {
                line-height: 14px;
                display: inline-block;
                font-size: 25px;
            }

            &:disabled {
                opacity: 0.5;
                cursor: not-allowed;
            }
        }
    }

    .tooltip-data {
        width: 170px;
        font-size: 12px;
        background: rgba(103, 106, 130, 0.7);
        padding: 10px;
        border-radius: 4px;
        position: fixed;
        z-index: 999;

        text {
            color: #fff;
        }

        &.active {
            display: block;
        }

        li {
            display: flex;
            justify-content: space-between;
            span {
                flex-flow: column;
            }
        }
    }

    .brush-instance {
        .selection {
            stroke: none;
        }

        .handle {
            fill: #b3bbd3;
            display: block;
        }
    }

    .focuschart-brush {
        .selection {
            fill: none;
        }
    }
}
