@import '../../assets/sass/colors.scss';
@import '../../assets/sass/animations.scss';

.page-landing {
    margin-top: 63px;

    .projects-wrapper {
        background: $second-color;
        z-index: 10;
    }
}

@keyframes homepage {
    0% {
        transform: translate3d(100%, 0, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}

.item-row {
    margin: 0;
    padding: 10px 10px 0 10px;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
    width: 100%;

    h2 {
        margin-top: 0px;
        margin-bottom: 10px;
    }

    .item-wrapper {
        display: flex;
        padding: 0 0 10px 0;
        position: relative;
        height: 15vh;
        min-height: 180px;
        max-height: 240px;
    }

    .cell {
        background: $item-bg;
        border: 1px solid $item-bg;
        border-radius: 10px;
        flex: 0 0 360px;
        transition: all 0.2s ease-in-out;
        margin-right: 20px;
        padding: 20px;
        color: $title-color;
        font-size: 17px;
        cursor: pointer;
        animation: slide-up 1s ease;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5);

        &.active {
            border: 1px solid $active-border;
            background: $active-card-bg;
            color: #fff;
            box-shadow: inset 0 1px 17px 0 rgba(0, 0, 0, 0.5);
            background-color: #23242b;
            box-shadow: inset 0 1px 17px 0 rgba(0, 0, 0, 0.5), 0 2px 2px 0 rgba(0, 0, 0, 0.5);
        }

        &:hover {
            transform: scale(1.05);
            border: 1px solid $active-border;
            z-index: 1;
        }

        h3 {
            font-size: 25px;
            margin: 0 0 10px 0;
        }

        .item-data {
            display: flex;
            ul {
                flex: 1;
                &.last {
                    flex: 2;
                    text-align: right;
                    align-content: flex-end;
                }

                li {
                    margin-bottom: 5px;
                }
            }
        }
    }

    &[data-name='experiments'] {
        .item-wrapper {
            height: 240px;
        }

        .item-data {
            flex-direction: row;
            height: calc(100% - 30px);
            flex-wrap: nowrap;
            align-items: center;
            ul {
                flex: 0 1 30px;
            }
            .matrix {
                flex: 1 1 50px;
                min-width: 180px;
                min-height: 180px;
            }
        }
    }
}

.page-slider {
    width: 100%;
    height: 100vh;
    animation-name: enterRight;
    animation-duration: 1s;
    overflow: hidden;

    .animate-left,
    .animate-right {
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    .animate-left {
        width: 98%;
    }

    .page-slider-enter {
        background: #23242b;
        z-index: 9;

        &.page-slider-enter-active {
            overflow: hidden;
            height: 100vh;
        }
    }
    .page-slider-exit {
        background: #23242b;
        z-index: 1;

        &.page-slider-exit-active {
            overflow: hidden;
        }
    }

    .animate-left {
        &.page-slider-enter {
            animation-name: enterLeft;
            animation-duration: 1s;
        }
        &.page-slider-exit {
            animation-name: leaveLeft;
            animation-duration: 1s;
        }
    }

    .animate-right {
        &.page-slider-enter {
            animation-name: enterRight;
            animation-duration: 1s;
        }

        &.page-slider-exit {
            animation-name: leaveRight;
            animation-duration: 1s;
        }
    }
}

@keyframes enterLeft {
    0% {
        transform: translate3d(-100%, 0, 0);
    }
    100% {
        transform: translate3d(0%, 0, 0);
    }
}

@keyframes leaveLeft {
    0% {
        transform: translate3d(0%, 0, 0);
    }
    100% {
        transform: translate3d(-100%, 0, 0);
    }
}

@keyframes enterRight {
    0% {
        transform: translate3d(100%, 0, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes leaveRight {
    0% {
        transform: translate3d(0%, 0, 0);
    }
    100% {
        transform: translate3d(100%, 0, 0);
    }
}
