.ReactCollapse--collapse {
    transition: all 0.2s ease-in-out;
}

.collapsible-wrapper {
    border: 1px solid transparent;
    border-bottom: 1px solid #23242b;
    transition: border-color 0.2s ease-in-out;
    border-radius: 4px;

    .collapsible-trigger {
        cursor: pointer;
        height: 50px;
        padding: 15px;
        background-color: #27292f;
        color: rgba(#ffffff, 0.6);
        transition: all 0.2s ease-in-out;
        &:hover {
            color: #fff;
        }

        ul {
            display: flex;
            justify-content: space-between;
        }
    }

    &.active {
        border: 1px solid rgba(#2d9cdb, 0.6);
        flex: 1 1 auto;
        .collapsible-trigger {
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            li {
                color: #fff;
            }
        }
    }

    li {
        &.title {
            display: flex;
            justify-content: space-between;
            width: 92%;
        }
    }
}
