@import '../../../assets/sass/form';

.sidebar-heading {
    ul {
        float: none;
    }

    li {
        margin-right: 10px;
        &.signal-title {
            font-size: 20px;
        }
    }

    .switch-control {
        font-size: 14px;
    }
}
