@import '../../../assets/sass/colors.scss';
@import '../../../assets/sass/main.scss';

.right-sidebar {
    background: $main-color;
    float: right;
    min-width: 480px;
    padding: 30px 10px 10px 10px;
    box-sizing: border-box;
    height: 89vh;

    .feature-cell {
        cursor: pointer;
        .target {
            circle, line{
                stroke: rgba(218, 227, 245, 0.3);
                fill: transparent;
            }
            .target-info {
                fill: #CED8FB;
            }

        }
        .feature-area {
            stroke: #687ba3;
        }
        .radial-text{
            fill: #8A9097;
            font-size: 13px;
            text-anchor: middle;
        }

        .radial-cursor{
            fill: transparent;
        }
    }

    .period-control{
        // border-bottom: 1px solid #484E53;
        padding-bottom: 20px;
        margin-bottom: 10px;
        .sidebar-heading{
            display: inline-block;
            font-size: 20px;
            font-weight: bold;
        }
        ul{
            float: right;
        }
        li{
            display: inline-block;
        }
        .period-filter{
            button{
                background-color: rgba(0, 0, 0, 0.4);
                color: rgba(255, 255, 255, 0.5);
                transition: all 0.2s ease-in-out;
                cursor: pointer;
                border: none;
                line-height: 1.42px;
                padding: 17px 15px;
                outline: none;
                &.active {
                    background: $btn-blue;
                    color: #fff;
                }
                &:disabled, &.active:disabled{
                    opacity: 0.4;
                    background-color: rgba(0, 0, 0, 0.4);
                    color: rgba(255, 255, 255, 0.5);
                    cursor: not-allowed;
                }
            }
        }
    }
    .zoom{
        fill: transparent;
        cursor: move;
    }

    .event-summary{
        margin: 30px 0 25px 0;
    }
    .period-info{
        display: inline-block;

        p{
            margin: 0;
            padding: 0;
            line-height: 34px;
        }
    }

    .data-wrapper{
        .wrapper-container{
            overflow-y: auto;
            overflow-x: hidden;
        }

        .week-days{
            padding-bottom: 5px;
            li{
                display: inline-block;
                text-align: center;
                font-size: 13px;
                color: #8A9097;
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .right-sidebar {
        margin-top: 20px;
        width: 100%;
    }
}

@media screen and (min-width: 1201px) {
    .right-sidebar {
        float: right;
        max-width: 480px;
    }
}