@import '../../../assets/sass/colors.scss';
@import '../../../assets/sass/main.scss';
@import './Collapsible.scss';

.right-sidebar {
    background: $main-color;
    float: right;
    min-width: 480px;
    padding-bottom: 10px;
    box-sizing: border-box;
    height: 89vh;
    position: relative;
    overflow: hidden;

    .feature-cell {
        cursor: pointer;
        .target {
            circle,
            line {
                stroke: rgba(218, 227, 245, 0.3);
                fill: transparent;
            }
            .target-info {
                fill: #ced8fb;
            }
        }
        .feature-area {
            stroke: #687ba3;
        }
        .radial-text {
            fill: #8a9097;
            font-size: 13px;
            text-anchor: middle;
        }

        .radial-cursor {
            fill: transparent;
        }

        &.level-day {
            cursor: default;
        }
    }

    .period-control {
        .sidebar-heading {
            .signal-title {
                font-size: 16px;
            }
            button {
                background: transparent;
                border: none;
                color: #fff;
                cursor: pointer;
                outline: none;
                span {
                    display: inline-block;
                    margin-right: 10px;
                }
            }
        }
        ul {
            display: flex;
            justify-content: space-between;
        }
        li {
            vertical-align: middle;
            &:first-child button {
                border-radius: 4px 0px 0px 4px;
            }
            &:last-child button {
                border-radius: 0px 4px 4px 0px;
            }
        }
        .period-filter {
            button {
                background-color: rgba(0, 0, 0, 0.4);
                color: rgba(255, 255, 255, 0.5);
                transition: all 0.2s ease-in-out;
                cursor: pointer;
                border: none;
                line-height: 1.42px;
                padding: 17px 15px;
                outline: none;
                &.active {
                    background: $btn-blue;
                    color: #fff;
                }
                &:disabled,
                &.active:disabled {
                    opacity: 0.4;
                    background-color: rgba(0, 0, 0, 0.4);
                    color: rgba(255, 255, 255, 0.5);
                    cursor: not-allowed;
                }
            }
        }
    }

    .period-wrapper {
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
        padding: 0 15px;
        align-items: center;
    }

    .zoom {
        fill: transparent;
        cursor: move;
    }

    .period-info {
        p {
            margin: 0;
            padding: 0;
            line-height: 34px;
            font-size: 16px;
        }
    }

    .data-wrapper {
        .wrapper-container {
            overflow-y: auto;
            overflow-x: hidden;
        }

        .week-days {
            padding-bottom: 5px;
            li {
                display: inline-block;
                text-align: center;
                font-size: 13px;
                color: #8a9097;
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .right-sidebar {
        margin-top: 20px;
        width: 100%;
    }
}

@media screen and (min-width: 1201px) {
    .right-sidebar {
        float: right;
        max-width: 480px;
    }
}
