@import '../../../assets/sass/form.scss';

.chart-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    .legend {
        p {
            color: rgba(#fff, 0.4);
        }
    }
    .controls {
        display: flex;
        justify-content: space-between;

        .row {
            display: inline-block;
            margin-right: 25px;
        }
    }
}

// .chart-controls {
//     color: #fff;
//     display: inline-block;
//     margin-top: 10px;
//     margin: 0px 0px 20px 0;
//     width: 100%;

//     .tag-select {
//         min-width: 160px;
//     }
//     .tag-wrapper {
//         float: right;
//     }

//     .linechart-controls {
//         display: flex;
//         justify-content: space-between;
//         .row {
//             justify-content: space-between;
//             margin: 0;
//         }
//     }
// }

// .tag-wrapper {
//     float: right;
// }

.btn-add-event {
    background: #2474f4;
    border-radius: 4px;
    font-size: 14px;
    border: none;
    color: #fff;
    padding: 7px 12px;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
    outline: none;
    cursor: pointer;
    span {
        display: inline-block;
        padding-right: 4px;
    }

    &:disabled {
        opacity: 0.38;
    }
}
