@import '../../../assets/sass/form.scss';

.chart-controls {
    color: #fff;
    display: inline-block;
    margin-top: 10px;
    margin: 0px 20px 20px 0;
    width: 100%;

    .tag-select {
        min-width: 160px;
    }
    .tag-wrapper{
        float: right
    }
}
.switch-control{
    float: left;
}

.tag-wrapper{
    float: right
}

.btn-add-event {
    background: #2474F4;
    border-radius: 4px;
    font-size: 14px;
    border: none;
    color: #fff;
    padding: 7px 12px;
    text-transform: uppercase;
    transition: all .2s ease-in-out;
    outline: none;
    cursor: pointer;
    span{
        display: inline-block;
        padding-right: 4px;
    }

    &:disabled{
        opacity: .38
    }
}

.download-wrapper{
    float: right;
    button{
        outline: none;
        border-radius: 3px;
        cursor: pointer;
        height: 33px;
        width: 47px;
        border: 1px solid rgba(96,102,108,0.5);
        background-color: #2C3034;
        box-shadow: 0 2px 4px -1px rgba(0,0,0,0.05), 0 4px 5px 0 rgba(0,0,0,0.1);
        margin-right: 8px;
    }
}
