@import '../../assets/sass/colors.scss';
@import '../../assets/sass/main.scss';
.main-header {
    box-shadow: 0 0 14px #000;
    background: $main-color;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 20;

    .header-container {
        width: 96%;
        margin: 0 auto;
    }

    a {
        transition: all 0.2s ease-in-out;
        color: #fff;
        &.logo {
            background: $main-color;
            text-align: left;
            font-size: 28px;
            line-height: 50px;
            padding: 0;
            height: 50px;
            float: left;
            width: 73px;
            font-weight: 300;
            overflow: hidden;
            font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
            transition: width 0.3s ease-in-out;
            text-decoration: none;
        }

        &:hover,
        &:focus {
            text-decoration: none;
        }
    }

    .page-switch-btn {
        float: left;
        background-color: transparent;
        background-image: none;
        padding: 15px;
        display: none;

        &.active {
            display: inline-block;
        }
    }

    .user-opts{
        float: right;
        line-height: 40px;
        a{
            text-decoration: none;
            &:hover{
                text-decoration: underline;
            }
        }
    }

    .logout-button{
        background-color: transparent;
        font-size: 16px;
        border: none;
        color: #fff;
        cursor: pointer;
        outline: none;
    }

    .exp-info{
        float: left;
        font-family: 'Roboto';

        ul{
            width: 200px;
            display: inline-block;
            font-size: 16px;
            border: 1px solid rgba(151,151,151,0.5);
            border-radius: 4px;
            box-shadow: 0 2px 4px -1px rgba(0,0,0,0.2), 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12);
            padding: 5px 15px;
            margin: 8px 0 0 50px;
            cursor: pointer;
            font-weight: bold;
            background: #282A30;

            &:hover{
                span{
                    path{
                        fill: #fff;
                    }
                }
            }

            li{
                position: relative;

                span{
                    float: right;

                    path{
                        fill: #979797;
                        transition: all .2s ease-in-out;
                    }

                    &:last-child{
                        font-weight: normal;
                    }
                }

                ul{
                    border-top-left-radius: 0;
                    border-top-right-radius: 0;
                    border-top: none;
                    position: absolute;
                    left: -16px;
                    margin: 4px 0 0 0;
                    padding: 10px 15px;
                    transition: all .2s ease-in-out;
                    top: 21px;
                    display: none;
                }

                &.active{
                    border-bottom: none;
                    box-shadow: none;

                    ul{
                        display: block;
                    }

                    span{
                        path{
                            fill: #fff;
                        }
                    }
                }

                li{
                    display: flex;
                    cursor: initial;
                    font-size: 14px;
                    text-transform: none;
                    margin-bottom: 8px;

                    span{
                        flex: 1;
                    }
                }
            }
        }

    }
}
