.radiant-circle {
    .target circle {
      fill: #0000;
      stroke: #dae3f54d;
    }

    .target line {
      stroke: #dae3f54d;
    }

    path.feature-area {
      fill: none;
      stroke: #687ba3;
      stroke-width: 1;
    }

    .radial-cursor.svg-tooltip {
      fill: #CED8FB!important;
    }

    .radial-text-md {
      fill: #8A9097;
      font-size: 13px;
    }
  }
