@import '../main';
@import '../theme-variables';

@hd-bg-color: #3c8dbc;
@hd-bg-logo-color: #367fa9;

.main-header {
    // color: @hd-text-color;
    .logo {
        background-color: @hd-bg-logo-color !important;
    }

    nav {
        background-color: @hd-bg-color !important;
        transition: margin-left .3s ease-in-out;
        margin-bottom: 0;
        margin-left: 230px;
        border: none;
        min-height: 50px;
        border-radius: 0;
    }

    .navbar-custom-menu {
        .project-menu, .experiment-menu {
            max-height: 500px;
            margin: 0;
            padding: 0;
            list-style: none;
            overflow-x: hidden;
            overflow-y: auto;
            > li > a {
              display: block;
              white-space: nowrap; /* Prevent text from breaking */
              border-bottom: 1px solid #f4f4f4;
            }
        }
    
        .text {
            font-size: 14px;
            color: #333 !important;
            padding-left: 0;
        }
    }
}

