@import '../less/colors';


.main-header {
    box-shadow: 0 0 14px #000;
    background: @main-color;

    a{
        transition: all .2s ease-in-out;
        color: #fff;
    }
    .navbar, .logo, .logo:hover {
        background: @main-color;
    }


    .navbar-custom-menu {
        .text{
            padding: 15px;
        }

        .project-menu > li > a {
            background-color: @main-color;
            &:hover{
                background-color: @second-color;
            }
        }

        .experiment-menu > li > a{
            background: @main-color;
            color: #fff;
            border-radius: 0;
            border: none;
            &:hover{
                background: @second-color;
            }
        }
    }
}