@import '../../../../assets/sass/colors.scss';

.show-errors {
    height: 90px;

    .err-data {
        fill: rgba(#d8d8d8, 0.5);
        stroke-width: 1;
        stroke: $path-color;
    }

    .err-bg {
        background: #1a1b20;
        height: 90px;
    }

    .err-zoom {
        fill: transparent;
    }

    svg {
        transition: all 0.2s ease-in-out;
    }
}
