.show-errors {
    height: 90px;

    .err-data {
        transform: translate(32px, 47px);
        fill: rgba(#d8d8d8, 0.8);
    }

    .err-bg {
        background: #1a1b20;
        height: 90px;
    }

    .err-zoom {
        fill: transparent;
    }

    svg {
        transition: all 0.2s ease-in-out;
    }
}
