
.experiment {
    margin: 0px 0px 10px 10px;
    position: relative;
    height: 88vh;
}

.left-sidebar{
    float: left;
    margin-right: 20px;
    // margin-top: 65px;
}

@media screen and (max-width: 1200px) {
    .left-sidebar {
        width: 100%;
        margin-right: 0;
    }
}

@media screen and (min-width: 1201px) {
    .left-sidebar {
        width: calc(100% - 500px);
    }
}