.radial-cursor{
    /* fill: rgba(216,216,216,0);
    stroke:#B2C1FF;
    stroke-width: 1; */
    /* fill: #d6dcfe; */
    /* fill: #d5dbff; */
    fill: #fff;
    stroke-width:1;
    stroke: #DAE3F5;
}
g{
    width: 200px;
    height: 200px;
}
path{
    /* filter: url(#myGradient); */
    /* fill: url(#myGradient); */
    /* fill: transparent;
    stroke: #6a7da7;
    stroke-width: 1; */
    /* display: none; */
    /* display: none */
}

path.shape, path.feature-area{
    fill:none;
    stroke:#687ba3;
    stroke-width:1
}

/* text{
    display: none;
} */

circle.wrapper{

    fill: url(#myGradient);
}

rect.gradient{
    /* fill: url(#myGradient);
    width: 200px;
    height: 200px; */
}