@import './colors.scss';
* {
    box-sizing: border-box;
}
body{
    background: $second-color;
    font-size: 14px;
    line-height: 1.42857143;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}